*********************************************************
Akamai Connected Cloud Plesk Marketplace App
App URL: https://{{ _domain }}/login_up.php
Documentation: https://www.linode.com/marketplace/apps/linode/plesk/
*********************************************************
To delete this message of the day: rm /etc/motd