services:
  onlyoffice-documentserver:
    image: onlyoffice/documentserver:{{ docs_version }}
    container_name: onlyoffice-docs
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET={{ jwt_secret }}
      - EXAMPLE_ENABLED=true
      - LETS_ENCRYPT_DOMAIN={{ _domain }}
      - LETS_ENCRYPT_MAIL={{ soa_email_address }}
    ports:
      - '80:80'
      - '443:443'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/info/info.json"]
      interval: 30s
      retries: 5
      start_period: 60s
      timeout: 10s
    stdin_open: true
    restart: always
    stop_grace_period: 60s
    volumes:
      - /app/onlyoffice/DocumentServer/logs:/var/log/onlyoffice
      - /app/onlyoffice/DocumentServer/data:/var/www/onlyoffice/Data
      - /app/onlyoffice/DocumentServer/lib:/var/lib/onlyoffice
      - /app/onlyoffice/DocumentServer/rabbitmq:/var/lib/rabbitmq
      - /app/onlyoffice/DocumentServer/redis:/var/lib/redis
      - /app/onlyoffice/DocumentServer/db:/var/lib/postgresql
      - /app/onlyoffice/DocumentServer/example-files:/var/www/onlyoffice/documentserver-example/public/files
