#!/bin/bash
SRC_CERT="/etc/letsencrypt/live/{{ _domain }}/fullchain.pem"
DEST_CERT="{{ cert_dir }}/onlyoffice.crt"

# Only update files and restart Docker if the newly generated cert is different
if ! cmp -s "$SRC_CERT" "$DEST_CERT"; then
  cp "$SRC_CERT" "$DEST_CERT"
  cp "/etc/letsencrypt/live/{{ _domain }}/privkey.pem" "{{ cert_dir }}/onlyoffice.key"
  chmod 600 {{ cert_dir }}/onlyoffice.*
  docker restart onlyoffice-community-server
fi