[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/Django
ExecStart=/var/www/Django/gunicorn \
          --access-logfile= /var/log/gunicorn/gunicorn-django.log \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          Django.wsgi:application

[Install]
WantedBy=multi-user.target