services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_PASSWORD={{ saltcorn_db_password }}
      - POSTGRES_USER=saltcorn
      - POSTGRES_DB=saltcorn
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  saltcorn:
    image: saltcorn/saltcorn:latest
    restart: always
    environment:
      - NODE_ENV=production
      - SALTCORN_SESSION_SECRET={{ saltcorn_session_secret }}
      - DATABASE_URL=postgres://saltcorn:{{ saltcorn_db_password }}@db/saltcorn
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - db
volumes:
  pgdata: