*********************************************************
Akamai Connected Cloud Minecraft Marketplace App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/minecraft/
*********************************************************
To manage your Minecraft server:
  Switch to the linuxgsm user: su - linuxgsm
  Start server:  ./mcserver start
  Stop server:   ./mcserver stop
  Restart:       ./mcserver restart
  Console:       ./mcserver console

To delete this message of the day: rm /etc/motd
