_APP_ENV=production
_APP_DOMAIN={{ _domain }}
_APP_DOMAIN_TARGET={{ _domain }}
_APP_OPENSSL_KEY_V1={{ appwrite_secret_key }} 

# Networking
_APP_PORT=80
_APP_OPTIONS_FORCE_HTTPS=disabled 
_APP_OPTIONS_ROUTER_FORCE_HTTPS=disabled

# Security
_APP_CONSOLE_WHITELIST_ROOT=enabled
_APP_CONSOLE_WHITELIST_EMAILS={{ soa_email_address }}

# Database (Default MariaDB)
_APP_DB_SCHEMA=appwrite
_APP_DB_USER=appwrite
_APP_DB_PASS={{ appwrite_db_password }}
_APP_DB_ROOT_PASS={{ appwrite_db_root_password }}

# Redis
_APP_REDIS_HOST=redis
_APP_REDIS_PORT=6379
_APP_REDIS_PASS={{ appwrite_redis_password }}